<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BackgroundEraser.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>3</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>97FAB916F2A6CAB80444117ADCE8B1032630F664</string>
				<key>dateExpires</key>
				<string>13/2/25</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>97FAB916F2A6CAB80444117ADCE8B1032630F664</string>
						<key>dateExpires</key>
						<string>13/2/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>AdvancedPageControl.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79P63JNH4W</string>
						<key>name</key>
						<string>Sohel Ibna Saad</string>
					</dict>
					<key>versionNumber</key>
					<string>0.9.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>97FAB916F2A6CAB80444117ADCE8B1032630F664</string>
						<key>dateExpires</key>
						<string>13/2/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CHIPageControl.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79P63JNH4W</string>
						<key>name</key>
						<string>Sohel Ibna Saad</string>
					</dict>
					<key>versionNumber</key>
					<string>0.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>97FAB916F2A6CAB80444117ADCE8B1032630F664</string>
						<key>dateExpires</key>
						<string>13/2/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>DataCache.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79P63JNH4W</string>
						<key>name</key>
						<string>Sohel Ibna Saad</string>
					</dict>
					<key>versionNumber</key>
					<string>1.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>14.1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>97FAB916F2A6CAB80444117ADCE8B1032630F664</string>
						<key>dateExpires</key>
						<string>13/2/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBAEMKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79P63JNH4W</string>
						<key>name</key>
						<string>Sohel Ibna Saad</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>97FAB916F2A6CAB80444117ADCE8B1032630F664</string>
						<key>dateExpires</key>
						<string>13/2/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79P63JNH4W</string>
						<key>name</key>
						<string>Sohel Ibna Saad</string>
					</dict>
					<key>versionNumber</key>
					<string>2.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>14.1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>97FAB916F2A6CAB80444117ADCE8B1032630F664</string>
						<key>dateExpires</key>
						<string>13/2/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79P63JNH4W</string>
						<key>name</key>
						<string>Sohel Ibna Saad</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>14.1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>97FAB916F2A6CAB80444117ADCE8B1032630F664</string>
						<key>dateExpires</key>
						<string>13/2/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit_Basics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79P63JNH4W</string>
						<key>name</key>
						<string>Sohel Ibna Saad</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>14.1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>97FAB916F2A6CAB80444117ADCE8B1032630F664</string>
						<key>dateExpires</key>
						<string>13/2/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKLoginKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79P63JNH4W</string>
						<key>name</key>
						<string>Sohel Ibna Saad</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>14.1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>97FAB916F2A6CAB80444117ADCE8B1032630F664</string>
						<key>dateExpires</key>
						<string>13/2/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKShareKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79P63JNH4W</string>
						<key>name</key>
						<string>Sohel Ibna Saad</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>97FAB916F2A6CAB80444117ADCE8B1032630F664</string>
						<key>dateExpires</key>
						<string>13/2/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79P63JNH4W</string>
						<key>name</key>
						<string>Sohel Ibna Saad</string>
					</dict>
					<key>versionNumber</key>
					<string>8.15.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>97FAB916F2A6CAB80444117ADCE8B1032630F664</string>
						<key>dateExpires</key>
						<string>13/2/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreDiagnostics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79P63JNH4W</string>
						<key>name</key>
						<string>Sohel Ibna Saad</string>
					</dict>
					<key>versionNumber</key>
					<string>8.15.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>97FAB916F2A6CAB80444117ADCE8B1032630F664</string>
						<key>dateExpires</key>
						<string>13/2/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79P63JNH4W</string>
						<key>name</key>
						<string>Sohel Ibna Saad</string>
					</dict>
					<key>versionNumber</key>
					<string>8.15.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>97FAB916F2A6CAB80444117ADCE8B1032630F664</string>
						<key>dateExpires</key>
						<string>13/2/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79P63JNH4W</string>
						<key>name</key>
						<string>Sohel Ibna Saad</string>
					</dict>
					<key>versionNumber</key>
					<string>9.1.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>97FAB916F2A6CAB80444117ADCE8B1032630F664</string>
						<key>dateExpires</key>
						<string>13/2/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79P63JNH4W</string>
						<key>name</key>
						<string>Sohel Ibna Saad</string>
					</dict>
					<key>versionNumber</key>
					<string>7.7.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>97FAB916F2A6CAB80444117ADCE8B1032630F664</string>
						<key>dateExpires</key>
						<string>13/2/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Lottie.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79P63JNH4W</string>
						<key>name</key>
						<string>Sohel Ibna Saad</string>
					</dict>
					<key>versionNumber</key>
					<string>3.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>97FAB916F2A6CAB80444117ADCE8B1032630F664</string>
						<key>dateExpires</key>
						<string>13/2/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>NVActivityIndicatorView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79P63JNH4W</string>
						<key>name</key>
						<string>Sohel Ibna Saad</string>
					</dict>
					<key>versionNumber</key>
					<string>5.1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>97FAB916F2A6CAB80444117ADCE8B1032630F664</string>
						<key>dateExpires</key>
						<string>13/2/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SDDownloadManager.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79P63JNH4W</string>
						<key>name</key>
						<string>Sohel Ibna Saad</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>97FAB916F2A6CAB80444117ADCE8B1032630F664</string>
						<key>dateExpires</key>
						<string>13/2/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79P63JNH4W</string>
						<key>name</key>
						<string>Sohel Ibna Saad</string>
					</dict>
					<key>versionNumber</key>
					<string>5.12.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>97FAB916F2A6CAB80444117ADCE8B1032630F664</string>
						<key>dateExpires</key>
						<string>13/2/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SDWebImageWebPCoder.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79P63JNH4W</string>
						<key>name</key>
						<string>Sohel Ibna Saad</string>
					</dict>
					<key>versionNumber</key>
					<string>0.8.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>97FAB916F2A6CAB80444117ADCE8B1032630F664</string>
						<key>dateExpires</key>
						<string>13/2/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftKeychainWrapper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79P63JNH4W</string>
						<key>name</key>
						<string>Sohel Ibna Saad</string>
					</dict>
					<key>versionNumber</key>
					<string>4.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>97FAB916F2A6CAB80444117ADCE8B1032630F664</string>
						<key>dateExpires</key>
						<string>13/2/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Zip.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79P63JNH4W</string>
						<key>name</key>
						<string>Sohel Ibna Saad</string>
					</dict>
					<key>versionNumber</key>
					<string>2.1.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>97FAB916F2A6CAB80444117ADCE8B1032630F664</string>
						<key>dateExpires</key>
						<string>13/2/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>libwebp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79P63JNH4W</string>
						<key>name</key>
						<string>Sohel Ibna Saad</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>97FAB916F2A6CAB80444117ADCE8B1032630F664</string>
						<key>dateExpires</key>
						<string>13/2/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79P63JNH4W</string>
						<key>name</key>
						<string>Sohel Ibna Saad</string>
					</dict>
					<key>versionNumber</key>
					<string>2.30908.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>79P63JNH4W.net.pixeltouch.bgeraser</string>
				<key>com.apple.developer.team-identifier</key>
				<string>79P63JNH4W</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>BackgroundEraser.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>8d8e3af7-9dda-4c9e-950f-0aafee73cf5d</string>
				<key>dateExpires</key>
				<string>12/8/25</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: net.pixeltouch.bgeraser</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>79P63JNH4W</string>
				<key>name</key>
				<string>Sohel Ibna Saad</string>
			</dict>
			<key>versionNumber</key>
			<string>1.1.8</string>
		</dict>
	</array>
</dict>
</plist>
